<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<!-- saved from url=(0042)article_category.php -->
<HTML xmlns="http://www.w3.org/1999/xhtml">

<HEAD>
  <TITLE>文章中心 | DouPHP轻量级企业网站管理系统 - Powered by DouPHP</TITLE>
  <META content="text/html; charset=utf-8" http-equiv=Content-Type>
  <META name=keywords content="">
  <META name=description content="">
  <META name=GENERATOR content="MSHTML 8.00.7600.17267">
  <LINK rel=stylesheet type=text/css href="css/style.css">
  <SCRIPT type=text/javascript src="js/jquery.min.js"></SCRIPT>

  <SCRIPT type=text/javascript src="js/global.js"></SCRIPT>
</HEAD>

<BODY>
  <DIV id=wrapper>
    <DIV id=top>
      <DIV class=wrap>
        <UL class=topNav>
          <LI><A href="m">手机版</A></LI>
          <LI class=spacer></LI>
          <LI><A href="javascript:AddFavorite('', 'DouPHP轻量级企业网站管理系统')">收藏本站</A></LI>
        </UL>
        <UL class=search>
          <DIV class=searchBox>
            <FORM id=search method=get name=search action=><LABEL for=keyword></LABEL><INPUT class=keyword
                title=输入您要搜索的产品名称 onclick="formClick(this,'产品搜索')" value=产品搜索 maxLength=128 size=25 type=text name=s
                autocomplete="off"> <INPUT class=btnSearch value=提交 type=submit>
            </FORM>
          </DIV>
        </UL>
      </DIV>
    </DIV>
    <DIV id=header>
      <DIV class=wrap>
        <UL class=logo><A href=""><IMG title=DouPHP轻量级企业网站管理系统 alt=DouPHP轻量级企业网站管理系统 src="images/logo.png"></A>
        </UL>

        <%- include("./nav.ejs")%>

        
        <P class=clear></P>
      </DIV>
    </DIV>
    <DIV class="wrap mb">
      <DIV id=pageLeft>
        <DIV class=treeBox>
          <H3>文章分类</H3>
          <UL>
            <LI><A href="article_category.php?id=1">公司动态</A></LI>
            <LI><A href="article_category.php?id=2">行业新闻</A></LI>
          </UL>
          <UL class=search>
            <DIV class=searchBox>
              <FORM id=search method=get name=search action=><INPUT value=article type=hidden name=module> <LABEL
                  for=keyword></LABEL><INPUT class=keyword title="" onclick="formClick(this,'文章搜索')" value=文章搜索
                  maxLength=128 type=text name=s autocomplete="off"> <INPUT class=btnSearch value=提交 type=submit>
              </FORM>
            </DIV>
          </UL>
        </DIV>
      </DIV>
      <DIV id=pageIn>
        <DIV class=urHere>当前位置：<A href="">首页</A><B>&gt;</B>文章中心</DIV>
        <DIV id=articleList>

          <!-- 高雪冬所写 -->
          
          <% for(var i=0;i<news.length;i++){ %>
            <DL>
              <DIV class=numDate><EM><%=news[i].click%></EM>
                <P>06-26</P>
              </DIV>
              <DT><A href="/news?id=<%= news[i].id %>"><%=news[i].title %></A></DT>
              <DD>
                <P class=desc>
                  <%-news[i].content.substr(0,100) %></P>
              </DD>
            </DL>
            <% } %>


          
          <!-- <DL>
            <DIV class=numDate><EM>111</EM>
              <P>06-26</P>
            </DIV>
            <DT><A href="article.php?id=10">如何添加自定义字段</A></DT>
            <DD>
              <P class=desc>
                以商品为例，如果要给商品加上自定义字段，首先找到“系统设置”-&gt;[自定义]然后填入如“颜色,尺寸,型号”中间以英文逗号隔开，然后在商品编辑页面会看到相应的自定义字段，输入对应的值即可</P>
            </DD>
          </DL> -->
         


          
        </DIV>
        <DIV class=pager>总计 10 个记录，共 1 页，当前第 1 页 | <A href="article_category.php?page=1">第一页</A> 上一页 下一页 <A
            href="article_category.php?page=1">最末页</A></DIV>
      </DIV>
      <DIV class=clear></DIV>
    </DIV>
    <DIV id=footer>
      <DIV class=wrap>
        <DIV class=footNav><A href="page.php?id=1">公司简介</A><I>|</I><A href="page.php?id=6">营销网络</A><I>|</I><A
            href="page.php?id=2">企业荣誉</A><I>|</I><A href="page.php?id=5">人才招聘</A><I>|</I><A
            href="page.php?id=4">联系我们</A><I>|</I><A href="m">手机版</A></DIV>
        <DIV class=copyRight>© DouPHP轻量级企业网站管理系统 2018 All Rights Reserved. <A href="http://www.douco.com/"
            target=_blank>Powered by DouPHP</A>
        </DIV>
      </DIV>
    </DIV>
    <DIV style="DISPLAY: none">
      <SCRIPT
        type=text/javascript>var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_5623886'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s9.cnzz.com/stat.php%3Fid%3D5623886' type='text/javascript'%3E%3C/script%3E"));</SCRIPT>
    </DIV>
  </DIV>
</BODY>

</HTML>